# Python
__pycache__/
*.pyc
venv/
*.pyc
*.pyo
*.pyd
.Python

# Go
bin/
*.exe

# Environment + Secrets
.env
.env.local

# Data folders (should NEVER go to GitHub)
minio-data/
prometheus_data/
grafana_data/
duckdb-data/

# Databases & Binary data
*.duckdb
*.wal
*.db

# Models
*.pkl
*.joblib

# Logs
*.log

# OS / Editor
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~

# Temporary files
*.tmp
*.temp
merged.csv

